/* custom */

a {
    font-size: 14px;
    color: #444;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

ul,
li {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}